.Timer__container {
  margin-left: 30px;
  margin-top: 20px;
  text-align: center;
}

.Timer__title {
  font-family: monospace;
  font-size: 32px;
  margin: 0;
}

.Timer__input {
  font-family: monospace;
  font-size: 24px;
  input {
    @extend .Timer__input;
  }
}

.Timer__value {
  margin-right: 15px;
  margin-left: 15px;
  font-size: 64px;
  font-family: monospace;
  text-align: center;
}

.Timer__controls {
  text-align: center;
  button {
    border: none;
    padding: 10px 15px;
    background-color: teal;
    color: #fff;
    font-weight: 500;
    margin-left: 5px;
    margin-right: 5px;
    font-family: inherit;
    font-size: 22px;
    cursor: pointer;
    outline: none;
    box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 0.5);
    transition: box-shadow 250ms linear;

    &:active {
      box-shadow: 2px 5px 2px 0 rgb(0 0 0 / 0.5);
    }
  }
}
